<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pokedex</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/67cf9a17fd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/Recursos/Img/icons8-dratini-48.png" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <div class="container-fluid">
                <a class="navbar-brand mb-1" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Recursos/Img/icons8-dratini-48.png" width="24" height="24" alt="p" class="d-inline-block align-text-top" />
                    Pokedex
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <div class="btn-group">
                            <a type="button" class="btn btn-dark pe-1" asp-area="" asp-controller="Pokemones" asp-action="Index">Pokemon</a>
                            <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split ps-1 pt-2" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown ">
                                <li><a type="button" asp-area="" asp-controller="Pokemones" asp-action="Index" class="dropdown-item">Mejores Atacantes</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item">Mejores Defensores</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item">Lista de Pokemon por CP</a></li>
                            </ul>
                        </div>
                        <li class="nav-item">
                            <a class="text-light nav-link" tabindex="-1" aria-disabled="true" asp-area="" asp-controller="Regiones" asp-action="Index">Regiones</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-light nav-link" asp-area="" asp-controller="TipoPokemones" asp-action="Index">Tipos de Pokemones</a>
                        </li>
                    </ul>
                    <form  asp-controller="Home" asp-action="Index" asp-route-mv="pi" class="d-flex w-50 h-auto">
                        <input  class="form-control me-3 h-25  my-auto" type="text" placeholder="Escribe el nombre de un pokemon ej: Pikachu" aria-label="Search">
                        <button class="btn-grad btn" type="submit">Search</button>
                    </form>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy;Copyright @DateTime.Now.Year - Para mas informacion contactarse con <a href="https://github.com/Frankiie64"> Franklyn Brea</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
