@model BusinessLayer.ModelView.PokemonesDto;
@{
    ViewData["Title"] = "Eliminar Pokemon";
}

<div class="row mt-3">
    <div class="col-6 offset-3">
        <div class="card">
            <div class=" card-header bg-danger text-light p-1 text-center">
                <h4 class="mt-2">Esta seguro que desea eliminar a @Model.Nombre?</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Pokemones" asp-action="DeletePokemonPost" class="text-center">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger mx-auto">Aceptar</button>
                    <a asp-controller="Pokemones" asp-action="Index" class="btn btn-warning mx-auto">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
