@model List<BusinessLayer.ModelView.RegionesDto>
@{
    ViewData["Title"] = "Regiones";
}

<div class="container-fluid" style="width: 85%;">
    <div class="row">
        <div class="col-4 offset-9 ps-1">
            <a asp-controller="Regiones" asp-action="CreateRegiones" type="button" class="btn btn-success m-2">Agregar una nueva Region <i class=" fs-5 pb-3 fa-plus"></i></a>
        </div>
    </div>

    @if (Model == null || Model.Count == 0)
    {
        <div class="container mx-auto my-auto">
            <h2>No hay ninguna region creada</h2>
            <p>Cree alguna region para el habitad de sus pokemones.</p>
        </div>
    }
    else
    {
        @foreach (var item in Model)
        {
            <div class="card mb-3" style="max-width: 100%;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-body text-start">
                            <h5 class="card-title">@item.Nombre</h5>
                            <p class="card-text">@item.Descripcion</p>
                            <div class="text-end">
                                <a asp-controller="Regiones" asp-action="EditRegion" asp-route-id="@item.Id" type="button" class="btn btn-info me-1 text-light">Editar <i class="fa-solid fa-file-pen"></i></a>
                                <a asp-controller="Regiones" asp-action="DeleteRegion" asp-route-id="@item.Id" type="button" class="btn btn-danger ">Eliminar  <i class="fa-solid fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
